.settings {
    height: calc(70%);
}

.settings-content {
    margin: 3em auto;
    max-width: 70rem;
}

.settings-form {
    padding: 0.5rem 2rem 2rem;
    background-color: #0a0a0a;
    border-radius: 0.5rem;
}

.settings-inputs {
    display: grid;
}

@media (min-width: 1200px) {
    .settings-inputs {
        grid-template-columns: repeat(2, 1fr);
    }
}
