.settings-panel {
    padding: 10px;
    margin: 10px;
    background-color: #202225;
}

.settings-panel-item {
    padding: 10px;
    border: 1px solid gray;
}

.settings-panel-item.discord {
    background-color: #7289DA;
}

@media (min-width: 1080px) {
    .settings-panel {
        grid-template-columns: 1 / 3;
    }
}
