@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

:root {
  --orange: rgb(255, 165, 0);
}

body {
  margin: 0;
  padding: 0;
  background-color: #1b1c1d;
  color: white;
  font-family: 'Inter', sans-serif;
  height: 100vh;
}

#root {
  height: 100%;
}

a {
  color: #7289DA;
  font-weight: bold;
  text-decoration: none;
}

.page-content {
  min-height: calc(100vh - 90px);
}

::-webkit-scrollbar {
  width: 5px;
  background-color: none;
}

::-webkit-scrollbar-thumb {
  background-color: #f0f8ff;
}
