@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

body {
  margin: 0;
  padding: 0;
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  font-family: 'Inter', sans-serif;
}