@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600;700&display=swap');

:root {
  --orange: #ffa500;
}

* {
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
}

h1, h2, h3 {
  font-weight: 700;
}

body {
  margin: 0;
  padding: 0;
  background-color: #1b1c1d;
  color: white;
  height: 100vh;
}

#root {
  height: 100%;
}

a {
  color: #7289DA;
  font-weight: bold;
  text-decoration: none;
}

.page-content {
  min-height: calc(100vh - 5rem);
}

::-webkit-scrollbar {
  width: 0.5rem;
  background-color: none;
}

::-webkit-scrollbar-thumb {
  background-color: #f0f8ff;
}

.Toastify__toast--success {
  background-color: #62A87C !important;
}
